@use 'src/styles/index' as s;

.container {
  width: 100%;
  margin-top: 10rem;

  //border: 1px solid #000;

  & :local {

    .wrapper {
      margin: 0 auto;
      max-width: 90rem;

      .header {
        display: flex;
        align-items: center;
        gap: 7rem;
        //border: 1px solid #000;

        img {
          max-width: 3rem;
        }

        .desc {
          width: 100%;
          font-weight: 300;
          letter-spacing: .02vmax;
          max-width: 50ch;
        }

        h3 {
          color: #8A5C28;
        }
      }


      .slider {
        margin-top: 4rem;
        max-width: 100%;
        position: relative;

        &::after, &::before{
          //content: '';
          position: absolute;
          display: block;;
          top: 0;
          height: 100%;
          background: linear-gradient(90deg, white 0%, rgba(255, 255, 255, 0) 100%);
          width: 5rem;
          z-index: 11;
        }

        &::after{
          right: 0;
          background: linear-gradient(-90deg, white 20%, rgba(255, 255, 255, 0) 30%);

        }


        .nav_btns{
          position: absolute;
          right: 1%;
          margin-left: auto;
          max-width: max-content;
          top: -7rem;
          display: flex;
          gap: 1rem;
          align-items: center;

          button{
            width: 3rem;
            height: 3rem;
            border-radius: 50%;
            background-color: #d5d5d5;
            min-width: initial;
          }
        }


        .swiper {
          position: relative;
          max-width: max-content;
          padding: 1.4rem 0;

          .slide {
            max-width: 50ch;
            width: 100%;
            //overflow: hidden;

            //border: 1px solid red;
          }

          .blog_card {
            //background-color: lightgray;
            max-width: 50ch;
            width: 100%;
            margin: 0 auto;
            border-radius: 1rem;



            //border: 1px solid red;

            .detail {
              padding: 2rem;
              display: flex;
              flex-flow: column;
              gap: .5rem;

              & > :first-child {
                text-transform: uppercase;
                letter-spacing: .04vmax;
                color: #8A5C28;
              }
            }

            button {
              align-self: start;
              margin-top: 1rem;
              letter-spacing: .02vmax;
              font-size: 1.1rem;
            }

            .avatar {
              display: flex;
              gap: 1rem;
              margin-top: 2rem;
            }
          }
        }
      }
    }
  }
}
