@use 'src/styles/index' as s;

.container {
  width: 100%;
  padding: 8vmax 1rem 10vmax;
  min-height: 100dvh;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      max-width: 50rem;
      margin: 0 auto;
      //border: 1px solid red;

      header{
        .title{
          text-decoration: underline;
        }
        .desc{
          font-size: 1.1rem;
          max-width: 60ch;
          font-weight: 300;
          color: #5d5d5d;
          margin-top: 2rem;
        }
      }

      .content {
        margin-top: 4rem;
        display: flex;
        gap: 2rem;
        width: 100%;
        padding: 3rem;
        border-radius: 1rem;


        //border: 1px solid red;

        form {
          display: flex;
          flex-flow: column;
          align-items: flex-start;
          gap: 2rem;
          padding: .5rem;
          width: 100%;

          //border: 1px solid #000;

          .agreement{
            margin-top: 3rem;
            span{
              font-size: 1.1rem;
              font-weight: 300;
            }
          }

          .agreement + button{
            margin-top: 1rem;
          }

          button {
            margin-top: 4rem;
            font-size: 1.2rem;
            color: white;
            max-width: 12rem;
            width: 100%;
            margin-left: auto;
          }
        }
      }
    }
  }
}



.checkbox_form_group{
  //border: 1px solid blue;
  display: flex;
  flex-flow: column;
  width: 100%;

  & :local{
    .items{
      display: grid;
      flex-wrap: wrap;
      column-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(max-content, 10rem));
      place-content: start;
      grid-auto-flow: dense;

      .checkbox{
        margin: 0;
        width: 100%;

        //border: 1px solid blue;

        & :global{
          .MuiCheckbox-root{
            padding-right: .2rem;
          }
        }
      }

    }
  }
}

.radio_form_group{
  //border: 1px solid blue;
  display: flex;
  flex-flow: column;
  width: 100%;

  & :local{
    .items{
      display: grid;
      flex-wrap: wrap;
      column-gap: 2rem;
      grid-template-columns: repeat(auto-fill, minmax(max-content, 10rem));
      place-content: start;
      grid-auto-flow: dense;

      .checkbox{
        margin: 0;
        width: 100%;

        //border: 1px solid blue;

        & :global{
          .MuiCheckbox-root{
            padding-right: .2rem;
          }
        }
      }

    }
  }
}
