@use 'src/styles/index' as s;

.container {
  width: 100%;
  padding: 8.5rem 1.7rem;

  // @include s.margin(top, 10rem);
  // @include s.padding(bottom, 8rem);

  & :local {

    .wrapper {
      max-width: 95rem;
      margin: 0 auto;
      display: flex;
      flex-flow: column;


      header {
        margin: 0 auto;
        //border: 1px solid red;
      }

      .content {
        display: flex;
        //gap: 4rem;
        margin-top: 4rem;

      }

      .left {
        width: 100%;

        @include s.media-breakpoint-up(md) {
          flex: .75;
          padding-right: 2rem;
        }
      }

      .featured {
        display: flex;
        gap: 1rem;
        border: 1px solid lightgray;
        border-radius: .5rem;


        .info {
          padding: 1.5rem;
          display: flex;
          flex-flow: column;
          gap: 1rem;
          max-width: 24ch;

          @include s.media-breakpoint-up(md) {
            max-width: 50ch;
          }

          // the chip
          & > :first-child {
            align-self: flex-start;
          }

          // the date ( 😎 i was lazy to add a classname )
          & > :last-child {
            color: gray;
          }

          .title {
            font-size: 1.8rem;
            line-height: 100%;
            hyphens: auto;
            //overflow: hidden;
            //white-space: pre-wrap;
            word-break: keep-all;
            //text-overflow: ellipsis;
            font-family: s.$fonts-gramatika;
            font-weight: 900;


            @include s.media-breakpoint-up(md) {

              font-size: calc(1rem + 1.5vmax);
              letter-spacing: 0;
              hyphens: auto;
            }

          }

        }

        .thumb {
          width: 100%;
          max-height: calc(5vmax + 13rem);


          //border: 1px solid red;

          img {
            display: block;
            height: 100%;
            width: 100%;
            object-fit: cover;
          }
        }
      }

      .b_list {
        display: grid;
        gap: 2rem;
        grid-template-columns: repeat(auto-fit, minmax(17rem, 1fr));

        .b_card {
          display: flex;
          height: 100%;
          flex-flow: column;
          max-width: 27rem;

          border: 1px solid lightgray;
          border-radius: .5rem;

          .b_thumb {
            position: relative;
            flex: .7;
            //border: 1px solid red;

            img {
              width: 100% !important;
              height: 100% !important;
              display: block;
              object-fit: cover;
            }
          }

          .b_info {
            padding: 1.5rem;
            display: flex;
            flex-flow: column;
            align-items: flex-start;
            gap: .5rem;
            flex: .3;
          }

          .b_title {
            font-size: 1.5rem;
            line-height: 120%;
            letter-spacing: 0;
          }
        }
      }

      .pagination{
        margin-top: 5rem;
      }

    }
  }
}
