@use "@/styles/index.scss" as s;


.container {
  width: 100%;
  padding: .5rem 4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;

  pointer-events: none;
  backdrop-filter: blur(15px);

  box-shadow: 0 .7rem 1rem 0 rgba(0, 0, 0, .05), 0 -.06rem 1rem 0 rgba(0, 0, 0, .05);


  & > * {
    pointer-events: initial;
  }


  & :local {

    .logo_stack {
      p {
        font-weight: 900;
      }
    }

    .logo {
      max-width: 3.6rem;

      img {
        object-fit: cover;
        border-radius: 50%;
      }
    }

    .links {
      display: flex;
      align-items: center;
      gap: 1.5rem;
      //border: 1px solid red;

      p {
        font-weight: 300;

        &.active {
          font-weight: 400;
        }
      }
    }


  }
}

.menu_item {
  margin: 1rem 0;
  display: block;
}
